body {
    padding: 25px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
    width: 100px;
    height: 100px;
}

#homepage {
    padding: 25px 50px 75px 100px;
}

#btnlink{
    margin: 40px 15px 0 100px
}

.topnav {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid red;
  }
  
  .topnav a:active {
    border: grey;
    border-bottom: 3px solid red;
  }

#onionapp{
  color: green;
}
